@model LoginModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("BeginLogin", "Steam"))
{
    @*<div class="editor-label">
        @Html.LabelFor(model => model.MyProfile)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MyProfile)
        @Html.ValidationMessageFor(model => model.MyProfile)
    </div>*@

    <p>
        <input type="image" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png" value="Sign in through STEAM" />
    </p>
}